<h1>FACTURAS</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>CLIENTE</th>
    <th>TOTAL</th>
    <th>OC</th>
  </tr>
  </thead>

  <tbody>
  <% @facturas.each do |fac| %>
  <tr>
    <td><%= fac._id %></td>
    <td><%= fac.cliente %></td>
    <td><%= fac.total %></td>
    <td><%= fac.oc %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% @facturas.each do |fac| %>
    <tr>
      <td><% fac._id %></td>
    </tr>
<% end %>

<h1>End</h1>